<section>
  <h2>our products</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
    quibusdam perspiciatis, nam iusto, laborum distinctio cum culpa vero saepe
    ad placeat ipsam esse quia exercitationem reprehenderit. Odio perferendis
    omnis modi!
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
    quibusdam perspiciatis, nam iusto, laborum distinctio cum culpa vero saepe
    ad placeat ipsam esse quia exercitationem reprehenderit. Odio perferendis
    omnis modi!
  </p>
</section>
