<h1 class="mb-3 text-center text-muted">Our Products</h1>
<div class="alert alert-light mt-3 d-flex justify-content-between">
  <div>
    <button [routerLink]="['/products',0,'edit']" class="btn btn-outline-dark">
      Add New Product
    </button>
  </div>
  <div class="d-flex justify-content-between">
    <input
      type="text"
      name="size"
      class="form-control w-25"
      placeholder="size"
      [(ngModel)]="size"
    />
    <input
      type="text"
      class="form-control w-25"
      placeholder="category"
      [(ngModel)]="category"
    />
    <button class="btn btn-success" (click)="filterBy()">Filter By</button>
  </div>
</div>
