<div class="container p-5 alert alert-light mt-5">
  <h1>(One Way Binding)</h1>
  <img [src]="imgSrc1" [alt]="altText" />
  <img [src]="imgSrc2" alt="" />
  <p>{{'syntax'}}</p>
  <!-- <img src="{{imgSrc1}}" alt="" />
  <img src="images/{{imgSrc2}}" alt="" /> -->
  <!-- <h2 class="mt-4">TrackName : {{trackName}}</h2>
  <p class="mt-4 lead fs-3">{{flag ? 'ITI':"Tanta"}}</p> -->
  <!-- Save Navigation Property -->
  <!-- <p class="mt-4 lead fs-1 fw-bold">Student Name :{{student?.name}}</p>
  <p class="mt-4 lead fs-1 fw-bold">Student Name :{{student?.age}}</p> -->
</div>
