<div class="container">
  <h1 class="text-center mt-5 text-muted mb-4">Add New Product</h1>
  <form [formGroup]="productForm" (ngSubmit)="productHandler()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        formControlName="name"
        aria-describedby="emailHelp"
        placeholder="Enter Product Name"
      />
      @if(getName.touched){ @if(getName.hasError('required')){

      <p id="emailHelp" class="lead fs-5 form-text text-danger">
        Name is Required
      </p>
      } @if(getName.hasError('minlength')){

      <p id="emailHelp" class="lead fs-5 form-text text-danger">
        Name length must bt greater than 3
      </p>
      } }
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Price</label>
      <input
        type="number"
        formControlName="price"
        placeholder="Enter Product Price"
        class="form-control"
        id="exampleInputPassword1"
      />
      @if(getPrice.touched){ @if(getPrice.hasError('required')){

      <p id="emailHelp" class="lead fs-5 form-text text-danger">
        Price is Required
      </p>
      } }
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword3" class="form-label">Quantity</label>
      <input
        type="number"
        formControlName="quantity"
        placeholder="Enter Product quantity"
        class="form-control"
        id="exampleInputPassword3"
      />
      @if(getQuantity.touched){ @if(getQuantity.hasError('required')){

      <p id="emailHelp" class="lead fs-5 form-text text-danger">
        Quantity is Required
      </p>
      } }
    </div>
    <p class="lead fs-3">{{productForm.value | json}}</p>
    <button type="submit" class="btn btn-dark mt-4">Add New Product</button>
  </form>
</div>
