<div class="container p-5 border mt-5">
  <div class="row g-3">
    <div class="col-md-4" appScaleAnimation>
      <div class="bg-dark text-light p-3 rounded">
        <h3>Product 1</h3>
      </div>
    </div>

    <div class="col-md-4">
      <div class="text-dark p-3 rounded">
        <h3>Product 2</h3>
        <p appScaleAnimation>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio
          architecto excepturi omnis dolores sed ad recusandae, facere
          voluptatem veniam officiis aliquam sunt inventore, reiciendis
          doloremque officia fugiat odit quo non!
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bg-dark text-light p-3 rounded">
        <h3>Product 3</h3>
      </div>
    </div>
  </div>
</div>
